body {

font-family: 'Yrsa', serif;
background: #eeeedd;
    
    
}


nav {

font-family: 'Cinzel', serif;
margin: auto;
width: 500px;
border: 2px solid #555;
text-align: center; 
padding: 8px;
background: #e6e6cc;
    
}

a:link {color: #974b00;}

a:visited {color: #1a3300;}

ul {
  background: #cccc99;
  padding: 20px;
  border-radius: 8px;
}

.clear {
  clear: both;
}


h1 {

font-family: 'Cinzel', serif;
font-weight: bold; 
text-align: center;
color: #444422;
width: 600px;
margin: 3% auto; 

}


h2 {
  
    font-family: 'Cinzel', serif;
    padding: 3px;
    margin-left: 4%;

}

h3 {
  
    font-family: 'Cinzel', serif;
    padding: 3px;
    margin-left: 4%;
    border-bottom: 1px solid black;

}


span {
    
    font-weight: bold;
    color: green;
    
}

main {
    
    
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


div {
    
    color: #4d2600;
    font-size: 130%;
    margin: 3% auto; 
    padding: 3px;
    margin-left: 4%;
    
    
}

.container {
      float: left;
}

img.turk_map {
      height: 70%;
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
}



.photo {
  height: 25%;
  width: 25%;
  border-radius: 8px;
  float: right;
}