.container {
	height: 575px;
	width: 700px;
	
	font-weight: normal;
	
	/* Flex stuff */
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

#display-block {
    background-color: #3c2109; /*#0e0000;*/
    color: white;
    
    height: 475px;
    width: 935px;
}

#mapid {
    background-color: white;
    color: black;
    
    width: 860px;
    height: 180px;
}

#container-block {
	/*overflow: hidden;
	display: inline-block;*/
}

#outline-block {
   background-color: #eeeedd;
   height: 210px;
   width: 220px;
   display: inline-block;
   margin-left: -3px;
   margin-top: -15px;
   
   overflow: auto;
   float: left;
}

#display-subblock {
	display: inline-block;
	float: left;

	padding: 0;
	
	margin-top: -500px;
}

/* Textbox styles */

#textbox {
    /*  padding: 0;
    margin: 0;
    float: left; */
}

/*  Unique ids */
#text-english {
    margin-bottom: 0px;
	margin-left: 208px;
	margin-top: -15px;
}

#text-persian {
    margin-bottom: 0px;
	margin-left: 208px;
	margin-top: -15px;
}

/*  Toggable classes */
.displayed-textbox {
   background-color: #eeeedd;
   display: block;
   overflow: auto;
   
   height: 175px;
   width: 610px;
   margin-left: 5px;
   
   font-size: 27px;
}
.hidden-textbox {
    display: none;
	
	height: 175px;
	width: 625px;
}

/* Button styles */

/* Unique ids */
#button-english {
   margin-bottom: -30px;
   margin-left: 21px;
   margin-top: -50px;
   
   font-size: 30px;
}
#button-persian {
   margin-bottom: -30px;
   margin-left: -3px;
   margin-top: -50px;
   
   font-size: 30px;
}

/* Toggable classes */
.open-button {
   background-color: #eeeedd;
   
   width: 100px;
}
.closed-button {
   background-color: #9f6b3f;
   color: white;
   
   width: 100px;
}